:root {
  --body-font: 400 (16px / calc(26 / 16)) "Nunito", sans-serif;
  --heading-font: 400 40px/1 "Nunito", sans-serif;
  --white-color: #ffffff;
  --black-color: #000000;
  --primary-color: #f4e041;
  --secondary-color: #00bdd3;
  --primary-font-color: rgba(0, 0, 0, 0.87);
  --secondary-font-color: #7e7e7e;
  --third-font-color: rgba(255, 255, 255, 0.87);
  --bg-color: #f8f8f8;
  --hover-btn-bg-color: #ffe302;
  --disabled-btn-bg-color: #b4b4b4;
  --secondary-border-color: #d0cfcf;
  --error-color: #cb3d40;
}
